# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\maktab\Django project\social_network\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
